CompileFlags:
  Add: [
    -I../include,
    -I../../include,
    -I../../../include,
    -I../../../../include,
    -I../internal,
    -I../../internal,
    -I../../../internal,
    -I../../../../internal,
    -I../libft/include,
    -I../../libft/include,
    -I../../../libft/include,
    -I../../../../libft/include,
  ]
